@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
/* Reset style*/
*{
    margin: 0; padding: 0; box-sizing: border-box; font-family: 'Signika', sans-serif;
}
body {
    background-image: url('/Users/carolinaboschetti/Desktop/Projects/home-assignment-1/Assets/background.jpg')
}
body > * {
    background-color: #ffffff;
    padding: 10px 20px 20px;
    width: 70%;
    margin: auto;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.link-icon{
    background-color: #ee2961;
    border-radius: 50%;
    padding: 8px;
    min-width: 35px;
    min-height: 35px;
    display: inline-flex;
    justify-content: center;
    margin: 0 3px;
}
.carroussel > img{
    width: 100%;
}
h1 {
    color: #ee2961;
    padding: 10px 0;
}
h2{
    color: #ee2961;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

